.blogPage {
  background-color: #171821;
  height: 100%;
  width: 100%;
  color: white;
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #171821;
  font-family: 'Quicksand', sans-serif;
  color: white;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.blog {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  padding: 30px;
  flex: 1;
  overflow-y: scroll;
  position: relative;



  /* remove scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.blog::-webkit-scrollbar {
  display: none;
}

.blog .title {
  text-align: center;
  margin-bottom: 10px;
}

.blog img {
  object-fit: contain;
  width: 30%;
  display: block;
  margin: auto;
}

.blog pre {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 5px;
  overflow-x: scroll;

  /* remove scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.blog pre::-webkit-scrollbar {
  display: none;
}

.blog ul {
  margin-left: 30px;
}

.blog>div>p {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.reactionBar {
  width: 60%;
  margin: auto;
}

.progressBar {
  background-color: #4754cc;
}

.reactions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reactions>.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff40;
  gap: 20px;
  cursor: pointer;
  padding: 20px;
}

.reactions>.button:hover {
  background-color: #2a2c3b;
}

.reactions>.button>p {
  width: max-content;
}

.reactions>.button>div {
  width: 30px;
  height: 30px;
}

.reactions>.button>div>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.comments {
  width: 100%;
  position: fixed;
  left: 0;
  top: 100px;
  height: calc(100% - 100px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.commentsClose {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  padding: 20px;
  border-bottom: 1px solid #ffffff40;
}

.commentsClose>.button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.commentsClose>.button>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.commentsContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  overflow-y: scroll;
  /* remove scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.commentsContainer::-webkit-scrollbar {
  display: none;
}

.commentInput {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-top: 20px;
}
.commentInput > input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #2a2c3b;
  color: white;
}
.commentInput>.button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.commentInput>.button>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comment {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2a2c3b;
  border-radius: 20px;
}

.commentHeader {
  display: flex;
  flex-direction: column;
}

.userOfComment {
  display: flex;
  align-items: center;
}

.userImageOfComment {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.userImageOfComment>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.date {
  line-height: 1;
  color: #ffffff80;
  margin: 10px;
  margin-left: 0px;
}

/* for mobile view */

@media (max-width: 768px) {
  .blog {
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
  }



  .header {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .comments {
    padding: 0px;
  }


  .commentsClose {
    width: 100%;
  }

  .commentsContainer {
    width: 100%;
  }

  .commentInput {
    width: 100%;
  }

  .reactionBar {
    width: 100%;
    margin-top: 20px;

  }

  .reactions>.button {
    padding: 10px;
  }

  .reactions>.button:hover {
    background-color: transparent;
  }

  .reactions>.button>div {
    width: 20px;
    height: 20px;
  }





}