

.homepage {
  background-color: #171821;
  height: 100%;
  width: 100%;
  color: white;
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Quicksand', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* .homepage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
}

.blogGrid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  display: grid;
  flex: 1;
  overflow-y: scroll;
}

.blogCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #eaeaea;
  height: max-content;
}

.blogTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogImage {
  width: 100%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.blogSummary {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.readMore {
  font-size: 1rem;
  color: #0077ff;
  text-decoration: none;
  align-self: flex-end;
} */