.homepage {
  background-color: #171821;
  height: 100%;
  width: 100%;
  color: white;
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #171821;
  font-family: 'Quicksand', sans-serif; 
  color: white;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.blogGrid {
  margin: auto;
  width: 80%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;


}

.blogGrid::-webkit-scrollbar {
  display: none;
}

.blogRow {
  width: 100%;
  display: flex;
  height: max-content;
  align-items: center;
}

.blogCard {
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #eaeaea;
  height: max-content;
  background-color: #171821;
}

.blogTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogImage {
  width: 100%;
  height: 200px;
  object-fit: contain; /* might be changed to cover later */
  border-radius: 10px;
  margin-bottom: 10px;
}

.blogSummary {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea40;
}

.readMore {
  color: #0077ff;
}

.paginationBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.paginationButtons {
  display: flex;
  gap: 10px;
}

.paginationButton {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  background-color: #171821;
  color: white;
  cursor: pointer;
}

.activeButton {
  background-color: #0077ff;
  color: white;
}

/* for mobile view */

@media (max-width: 768px) {
  .blogGrid {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 95%;
  }
  .blogRow {
    flex-direction: column;
  }
  .blogCard {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}